<div class = "header">

	<div class = "twitter"> 
	 <ul>
	  <li><%= link_to 'Search tweeter', users_path %> </li>
	  <li><%= link_to 'News page', tweets_path %></li>
	  <% if current_user %>
	  	<li><%= link_to "My profile", current_user %></li>
	  <%else%>
	  <% end %>
	</ul>
</div>
</div>